

@media(max-width:450px) {
  .header{
    &__btn{
      font-size: 16px;
      padding: 8px;
    }
    &__img{
      width: 50px;
      height: 50px;
    }
    &__bio{
      font-size: 17px;
    }
    &__last-active{
      font-size: 14px;
    }
  }

  .users{
    &__list{
      margin-top: 5px;
    }
    &__bio{
      font-size: 16px;
    }
    &__img{
      width: 40px;
      height: 40px;
    }
    &__back-img{
      width: 20px;
      height: 20px;
    }
  }

  .message{
    &__text,
    &__item{
      font-size: 15px;
    }
    &__container{
      margin-top: 10px;
    }
  }
  .img-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}